<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="ServerName" value="localhost"/>
        <add key="UserName" value="root"/>
        <add key="UserPass" value="root_pwd"/>
        <add key="Port" value="3306"/>
        <add key="Database" value="Biopark"/>
    </appSettings>
</configuration>